apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "cabundle-operator.fullname" . }}-manager-role
  labels:
  {{- include "cabundle-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - configmaps/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "cabundle-operator.fullname" . }}-manager-rolebinding
  labels:
  {{- include "cabundle-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "cabundle-operator.fullname" . }}-manager-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "cabundle-operator.serviceAccountName" . }}'
  namespace: '{{ .Release.Namespace }}'
