---
# Source: cabundle-operator/templates/metrics-reader-rbac.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cabundle-operator-metrics-reader
  labels:
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get

---
# Source: cabundle-operator/templates/serviceaccount.yaml

apiVersion: v1
kind: ServiceAccount
metadata:
  name: cabundle-operator-controller-manager
  labels:
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
automountServiceAccountToken: true

---
# Source: cabundle-operator/templates/periodic-cabundle-enqueue.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: cabundle-operator-periodic-cabundle-enqueue
  labels:
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
data:
  bunlde_url: "https://example.com/ca-bundle.pem"
  sync_interval: "10m"

---
# Source: cabundle-operator/templates/metrics-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: cabundle-operator-controller-manager-metrics-service
  labels:
    control-plane: controller-manager
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: cabundle-operator
    control-plane: controller-manager
    app.kubernetes.io/instance: release-name
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443

---
# Source: cabundle-operator/templates/metrics-auth-rbac.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cabundle-operator-metrics-auth-role
  labels:
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cabundle-operator-metrics-auth-rolebinding
  labels:
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'cabundle-operator-metrics-auth-role'
subjects:
- kind: ServiceAccount
  name: 'cabundle-operator-controller-manager'
  namespace: 'default'

---
# Source: cabundle-operator/templates/manager-rbac.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cabundle-operator-manager-role
  labels:
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - configmaps/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cabundle-operator-manager-rolebinding
  labels:
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'cabundle-operator-manager-role'
subjects:
- kind: ServiceAccount
  name: 'cabundle-operator-controller-manager'
  namespace: 'default'

---
# Source: cabundle-operator/templates/leader-election-rbac.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: cabundle-operator-leader-election-role
  labels:
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: cabundle-operator-leader-election-rolebinding
  labels:
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: 'cabundle-operator-leader-election-role'
subjects:
- kind: ServiceAccount
  name: 'cabundle-operator-controller-manager'
  namespace: 'default'

---
# Source: cabundle-operator/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cabundle-operator-controller-manager
  labels:
    control-plane: controller-manager
    helm.sh/chart: cabundle-operator-0.1.0
    app.kubernetes.io/name: cabundle-operator
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "0.1.0"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: cabundle-operator
      control-plane: controller-manager
      app.kubernetes.io/instance: cabundle-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/name: cabundle-operator
        control-plane: controller-manager
        app.kubernetes.io/instance: release-name
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      containers:
      - args:
        - --metrics-bind-address=:8443
        - --leader-elect
        - --health-probe-bind-address=:8081
        command:
        - /manager
        volumeMounts:
          - mountPath: /etc/ssl/certs/ca-certificates.crt
            name: ca-certs
            subPath: ca-certificates.crt
        env:
          - name: SSL_CERT_FILE
            value: /etc/ssl/certs/ca-certificates.crt
        image: docker.io/shanmugara/cabundle-operator:v0.0.1
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          readOnlyRootFilesystem: true
      nodeSelector:
        {}
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: cabundle-operator-controller-manager
      terminationGracePeriodSeconds: 10
      tolerations:
        []
      topologySpreadConstraints:
        []
      volumes:
        - configMap:
            items:
            - key: root-certs.pem
              path: ca-certificates.crt
            name: omega-bundle
          name: ca-certs
