apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "cabundle-sync.fullname" . }}-role
  labels:
  {{- include "cabundle-sync.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - configmaps/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - configmaps/status
  verbs:
  - get
  - patch
  - update

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "cabundle-sync.fullname" . }}-rolebinding
  labels:
  {{- include "cabundle-sync.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: '{{ include "cabundle-sync.fullname" . }}-role'
subjects:
- kind: ServiceAccount
  name: '{{ include "cabundle-sync.serviceAccountName" . }}'
  namespace: '{{ .Release.Namespace }}'
